@import url("synfig.css");

/*
 * Fix #810: Insensitive context menus on OS X
 */
.window-frame, .window-frame:backdrop {
	box-shadow: none;
	margin    : 0;
}

#timetrack {
    font-size: 12px;
    font-weight: 400;
}
